run
data.csv
small.csv
*.class
*.so
*.dylib
*.s
*.o
*.swp
*.bin
*.txt
*.pyc
.DS_Store
lineitem.tbl
airplanes_big.csv
microbenchmarks/data
_data/
*.dSYM/
bench
out
avro-c-1.8.2/build
common/avro
.ycm_extra_conf.py
.clang-format
.idea/
*.iml
