run
*.csv
*.log
*.class
*.so
*.dylib
*.s
*.o
*.swp
*.bin
*.txt
*.pyc
.DS_Store
lineitem.tbl
airplanes_big.csv
microbenchmarks/data
_data/
*.dSYM/
bench
out
avro-c-1.8.2/build
common/avro
common/libhdfs
.ycm_extra_conf.py
.clang-format
.idea/
*.iml
.ipynb_checkpoints/


benchmarks/airplanes/sparser-based/
benchmarks/pcap/query1/output.pcap
benchmarks/pcap/query1/pcap-23.pcap
benchmarks/pcap/query1/post.sh
benchmarks/pcap/query1/scaled.pcap
benchmarks/pcap/query1/scalepcap
benchmarks/pcap/query1/tcpdump-out.pcap
benchmarks/pcap/query1/tshark-out.pcap
common/dummy.h
